/node_modules
.env
db.sqlite3
/dogstagram/__pycache__
/virtualenv
/dogstagram/static
/static/CACHE
/static/styles/output.css
/templatetags/__pycache__
/static/admin
/user/__pycache__
/user/migrations
/post/__pycache__
/post/migrations
/comment/__pycache__
/comment/migrations