{% extends 'global/_base.html' %}
{% block content %}

{% if user.username %}
<div class="p-5">
  <h1 class="text-3xl font-bold">Welcome Back, {{user.username}}</h1>
  <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="underline decoration-inherit text-blue-700">Logout</button>
    </form>
</div>

{% else %}
<div class="p-5">
  <h1 class="text-3xl font-bold">You haven't logged in yet!</h1>
  <a href="{% url "login" %}" class="underline decoration-inherit text-blue-700">Login</a>
  <a href="{% url "register" %}" class="underline decoration-inherit text-blue-700">Register</a>
</div>
{% endif %}



{% endblock %}