{% load widget_tweaks %}
<div class="grid grid-cols-1 gap-6">
  {% for field in form %}
  <label class="block">
    <span class="text-gray-700"
      >{{ field.label }}</span
    >
    <!-- Checkbox -->
      {% if field.field.widget.input_type == 'checkbox' %}
        {{ field|add_class:"rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50" }}
      {% elif field.field.widget.input_type == 'date' %}
        {{ field|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" }}
      {% elif field.field.widget.input_type == 'email' %}
        {{ field|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"|attr:"placeholder:" }}
      {% elif field.field.widget.input_type == 'password' %}
        {{ field|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"|attr:"placeholder:" }}
      {% elif field.field.widget.input_type == 'text' %}
        {{ field|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"|attr:"placeholder:" }}
      {% elif field.field.widget.input_type == 'url' %}
        {{field|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"|attr:"placeholder:"}}
      {% comment %} {% elif field.field.widget.input_type == 'select' %}
        {{field|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"|attr:"placeholder:"}} {% endcomment %}
      {% elif field.name == "description" %}
      {{field|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"|attr:"placeholder:"}}
        {% else %}
        {{ field }}
      {% endif %}
  </label>
  {% endfor %}
</div>


