{% load humanize %}
<div class="max-w-md relative">
    <a href="{% url "profile" username=content.owner.username %}"><div class="flex gap-3 items-center mb-3">
        <img class="w-10 h-10 rounded-full object-cover" src="{{content.owner.userprofile.pfp}}" alt="pfp">
        <div>
            <p class="font-bold">{{content.owner.username}}</p>
            <p class="font-light text-gray-400 text-sm">{{content.upload_time | timesince}}</p>
        </div>
    </div></a>
    <img class="rounded object-cover w-full inline-block" src="{{content.img_url}}" alt="post image" style="max-height: 710px;"/>
    <div class="py-3">
        <div class="flex gap-3">
            <div class="text-gray-800 dark:text-white" style="font-size: 1.5rem;">
                <i class="fa-regular fa-heart cursor-pointer"></i>
                <i class="fa-sharp fa-regular fa-comment cursor-pointer" data-modal-target="{{content.id}}" data-modal-toggle="{{content.id}}"></i>
            </div>
            {% include 'components/comment.html'%}
        </div>
        <div class="pt-3">
            <p class="font-medium">{{ content.likes.count | intcomma }}0 likes</p>
            <p>{{content.description | truncatewords:15}}</p>
            <div>
                {% for i in content.hashtags.all %}
                <span class="text-blue-700 font-medium cursor-pointer">#{{i.name}}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
</div>