{% extends 'global/main.html' %}
{% block main %}
<div class="p-4 py-10 flex justify-center ">
    <div class="max-w-5xl relative">
        {% if user == None %}
        <div class="p-5">
            <h3 class="text-3xl font-bold">This profile does not exist</h3>
        </div>
        {% else%}
        <div class="p-5">
            {% comment %} <h3 class="text-3xl font-bold">You are the owner of this profile!</h3>
            <a href="{% url 'delete_profile' username=user.username %}"><button class="bg-red-600 text-white py-1 px-3 rounded-md">Delete</button></a> {% endcomment %}
            {% include 'user/profile_head.html' with user=user %}
        </div>
        {% endif %}
        <hr class="mt-5 mb-5">
        {% include 'user/profile_gallery.html' with user=user %}
    </div>
</div>

{% endblock %}